click==8.0
opencv-python                     == 4.5.3.56
# opencv-python-headless            == 4.1.2.30
opencv-python-headless            ==4.5.3.56
numpy                            
matplotlib
easyocr
Pillow                            == 8.0.1